<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SliderGame.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E7EE0C791D7E4362009CBDAD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E7EE0C8D1D7E4363009CBDAD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E7EE0C981D7E4363009CBDAD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
